.b {
    background-color: rgb(0, 0, 0);
    position: absolute;
}

.top-line {
    width: 100%;
    height: 1px ;
    background-color: #B03737;
    position: sticky;
    margin-top: 15px;
    z-index: 90%;
}

.top-bar {
    font-family: "inter", sans-serif;
    display: flex;
    justify-content: space-around;
}

#ulica {
    padding-right: 10%;
    font-size: 15px;
    color:#B03737;
    margin-top: 20px;
    
}

#nomer {
    font-size: 15px;
    color:#B03737;
    margin-top: 20px;
    padding-right: 5%;
}

.soc_seti {
    width: 10px;
    height: 10px;
    margin-top: 3px;
    padding-left: 20%;
    justify-content: center;
    display: flex;
}

.article {
    display: flex;
    align-items: center;
    
}

.logo {
    width: 150px; 
    height: 150px;
}
.header {

    margin-left:650px;
    font-family: "inter";
    margin-top:-90px;
}


#O_nas {
    font-size: 24px;
    color:#B03737;
    text-decoration: none;
    padding-right: 80px;
}

#menu {
    font-size: 24px;
    color:#B03737;
    text-decoration: none;
    padding-right: 80px;
}

#dost {
    font-size: 24px;
    color:#B03737;
    text-decoration: none;
    padding-right: 80px;
}

#contact {
    font-size: 24px;
    color:#B03737;
    text-decoration: none;
    padding-right: 80px;
}

.ima {
    color:#B03737;
    font-size: 100px;
    margin-top: 7%;
    text-align: center;
    font-family: "Inspiration";
}

.citata {
    margin-top: 200px;
    display: flex;
    flex-wrap: nowrap;
    margin-left:300px;
}

.citata1 {
    margin-left:150px;
}

.nov {
    color: #B03737;
    font-family: 'inter';
    margin-top: 260px;
    margin-left: 127px;
    font-size: 24px;
}

.mid-line {
    width: 30%;
    margin-top:-20px;
    height: 0.1mm ;
    background-color: #B03737;
    margin-left: 85px;
}

.zakaz1 {
    margin-top: 32px;
    margin-left: 100px;
}

.zakaz2 {
    margin-left: 159px;
}

.f {
    padding-left:0px;
    background-repeat:no-repeat;
    margin-top: 300px;
    margin-left: 0px;
    object-fit: contain;
    width:1840px;
}

.text-bloc {
    color: #c43030;
    font-family: "inter", sans-serif;
    font-size: 24px;
    text-align: center;
    margin-left:-1200px;
    margin-top: -230px;
    text-decoration: none;
    text-shadow: 2px 2px 8px #000000;
}

.bloc {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    margin-left: 800px;
    margin-top: -200px;
    color: #ff0000;
    font-size: 20px;
    font-family: "inter";
    font-size: 20px;
    text-decoration: none;
    text-shadow: 2px 2px 8px #000000;
}

.cnop {
    border-radius: 18px;
    margin-left: 170px;
    margin-top: 10px;

}

.cnop1 {
    border-radius: 120px;
    width: 150px;
    height: 150px;
}

.cnop2 {
    border-radius: 120px;
    margin-left: 100px;
    width: 150px;
    height: 150px;
}

.cnop3 {
    border-radius: 120px;
    margin-left: 100px;
    width: 150px;
    height: 150px;
}

.cnop4 {
    border-radius: 120px;
    margin-left: 100px;
    width: 150px;
    height: 150px;
}

.t-c {
    position: absolute;
    margin-top: 170px;
}

.t-c2 {
    position: absolute;
    margin-left: 270px;
    margin-top: 170px;
}

.t-c3 {
    position: absolute;
    margin-left: 530px;
    margin-top: 170px;
}

.t-c4 {
    position: absolute;
    margin-left: 730px;
    margin-top: 170px;
}

.bb{
    margin-top: 300px;
    display: flex;
    flex-wrap: nowrap;
    margin-left:40px;
}

.img {
    width: 651px;
    height:495px;

}

.img2 {
    width: 946px;
    height:495px;
}

.pr3 {
    width: 651px;
    height:495px;
}

.pr4 {
    width: 538px;
    height:495px;
}

.pr5 {
    width: 407px;
    height:495px;

}

.tr1 {
    font-size: 48px;
    margin-top: -480px;
    margin-left: 25px;
    font-family: "inter";
    color: aliceblue;
    position: absolute;
    display: flex;
    text-decoration: none;
}

.tr2 {
    font-size: 48px;
    font-family: "inter";
    color: aliceblue;
    position: absolute;
    display: flex;
    margin-left: 679px;
    margin-top: -480px;
    text-decoration: none;
    
}

.tr3 {
    font-size: 48px;
    font-family: "inter";
    color: aliceblue;
    position: absolute;
    display: flex;
    margin-top:-480px ;
    margin-left:14px ;
    text-decoration: none;
}

.tr4 {
    font-size: 48px;
    font-family: "inter";
    color: aliceblue;
    position: absolute;
    display: flex;
    margin-left: 679px;
    margin-top: -480px;
    text-decoration: none;
}

.tr5 {
    font-size: 48px;
    font-family: "inter";
    color: aliceblue;
    position: absolute;
    display: flex;
    margin-left: 1317px;
    margin-top: -480px;
    text-decoration: none;
}

.bottom-line {
    width: 100%;
    height: 0.1mm ;
    background-color: #B03737;
    position: sticky;
    margin-top: 100px;
    z-index: 90%;
}

.rest1 {
    font-family: 'inter';
    font-size:15px;
    color:#B03737;
    margin-top: 48px;
    margin-left: 15px;
}

.bottom-line2 {
    width: 285px;
    height: 1px ;
    background-color: #B03737;
    position: sticky;
    margin-top: -1px;
    z-index: 90%;
}

.rest2 {
    font-family: 'inter';
    font-size:15px;
    color:#B03737;
    margin-top: 22px;
    margin-left: 15px;
}

.rest3 {
    font-family: 'inter';
    font-size:15px;
    color:#B03737;
    margin-top: 14px;
    margin-left: 15px;
}

.rest4 {
    font-family: 'inter';
    font-size:15px;
    color:#B03737;
    margin-top: 14px;
    margin-left: 15px;
}

.rest5 {
    font-family: 'inter';
    font-size:15px;
    color:#B03737;
    margin-top: 14px;
    margin-left: 15px;
}

.podval {
    border-radius: 19px;
    display: flex;
    width:434px ;
    height:221px ;
    margin-left: 1324px;
    margin-top: -200px;
}

.niz {
    color:#B03737;
    margin-bottom: 16px;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    margin-top: 17px;
    margin-bottom: 8px;
    font-size: 30px;
    font-family: 'inter';
}

.foot_ima {
    border-radius: 16px;
    background:#c43030;
    border-color:transparent;
    color:#000000;
    font-size: 12px;
    font-weight: 600;
    line-height: 25px;
    letter-spacing: 0%;
    text-align: left;
    padding-left: 11px;
    padding-right: 11px;
    margin-top: 12px;
    margin-bottom: 13px;
}

.foot_nomer {
        border-radius: 16px;
        background: #c43030;
        border-color:transparent;
        color: #000000;
        font-size: 12px;
        font-weight: 600;
        line-height: 25px;
        letter-spacing: 0%;
        text-align: left;
        padding-left: 11px;
        padding-right: 11px;
        margin-top: 12px;
        margin-bottom: 13px;
}

.foot_otp {
        box-sizing: border-box;
        border: 1px solid red;
        border-radius: 16px;
        background: #c43030;
        outline: none;
        font-size: 12px;
        color: #000000;
        font-weight: 600;
        line-height: 25px;
        padding-left: 17px;
}